<div class="container-flow footer" style="background-color: #ccbba7;">

    <footer class="text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4" style="background-color: #ccbba7;color: black;">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-2 coll">
          <p>Find Us On</p>
          <img src="assets/Facebook.png" alt="">
          <img src="assets/Instagram.png" alt="" style="margin-left: 20px;">
        </div>
        <div class="col-lg-2 coll">
          <p >About Us</p>
          <p >Contact Us</p>
        </div>
        <div class="col-lg-2 coll" >
            <img src="assets/image 1.png" alt="" style="margin-left: 20px;">
          <h5 class="text-uppercase mb-4">Suchi Lovers</h5>
        </div>
        <div class="col-lg-2 coll" >
          <p >Payment Method</p>
          <img src="assets/Mastercard Logo.png" class="imggg" alt="" style="margin-left: 50px;">
        </div>
        <div class="col-lg-2 coll" >
          <p>Customer Service Delivery/Return Privacy Policy Cookies Policy FAQs</p>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: #ccbba7;color: black;">
        <i>2022 Sushi Lovers All rights reserved</i>
    </div>
  </footer>
</div>
